:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

main {
  padding: 36px;
}

/* HEADER */

.header {
  background-color: black;
  color: white;
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

/* MEME */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  margin: 30px 0;
}

.form--input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--input:first-of-type {
  margin-right: 10px;
}

.form--input:last-of-type {
  margin-left: 10px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 600px;
  margin-top: 15px;
  height: 40px;
  border: 0;
}

.meme--image {
  height: auto;
  width: 100%;
}